* {
  box-sizing: border-box;
}

body {
  background-color: #00695c;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  color: #00bfa5;
}

a:hover {
  opacity: .9;
}

a:visited,
a:active {
  color: #8783b2;
}

.header {
  background-color: #00695c;
  position: relative;
}

.brand {
  display: block;
  margin: 20px 0;
  text-align: center;
}

.brand a {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.brand a,
.brand a:visited,
.brand a:hover,
.brand a:active {
  color: #eee;
}

.controls-container {
  margin-bottom: 10px;
}

.btn-control {
  background-color: hsla(170, 100%, 15%, 1);
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  border-radius: 8px;
  box-shadow: 0px 2px 0px hsla(170, 100%, 15%, 1), 0px 5px 12px rgba(0, 0, 0, .7);
  width: 160px;
  text-align: center;
  transition: all .1s ease;
  border: 0;
}

.btn-control:hover {
  cursor: pointer;
  background-color: hsla(170, 100%, 15%, .8);
}

.btn-control:active {
  box-shadow: 0px 2px 0px hsla(170, 100%, 15%, 1), 0px 2px 6px rgba(0, 0, 0, .7);
  position: relative;
  top: 2px;
}

#pages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-container .btn-control[disabled] {
  box-shadow: none;
  background-color: hsla(170, 100%, 15%, .5);
}

.controls-container .btn-control[disabled]:hover {
  cursor: not-allowed;
}

.stats-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-container>div {
  margin-top: 10px;
}

code {
  background-color: #263238;
  border-radius: 3px;
  color: #fff;
  padding: 4px 8px;
  font-size: .8em;
}

.page-container {
  text-align: center;
}

.page-window {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, .7);
  display: inline-block;
  height: 125px;
  margin: 20px;
  position: relative;
  text-align: left;
  width: 200px;
  transition: all .5s ease-in-out;
}

.page-window .top-bar {
  background: linear-gradient(#e7e7e6, #e2e2e1);
  border-radius: 5px 5px 0 0;
  height: 20px;
  text-align: center;
}

.page-window .circles {
  left: 3px;
  position: absolute;
  top: 0px;
}

.page-window .circle {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
}

.page-window .circle-red {
  background-color: #fc615d;
}

.page-window .circle-yellow {
  background-color: #fdbd41;
}

.page-window .circle-green {
  background-color: #34C84A;
}

.page-url input {
  width: 100%;
  border-top: 0;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
}

.page-window .page-content {
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #fafafa;
  border-radius: 0 0 5px 5px;
  display: flex;
  margin: 0;
  min-height: 50%;
  width: 100%;
}

.page-window .page-content a {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 5px;
}

.btn-add-link {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .7);
  background-color: #0091ea;
  border-radius: 50%;
  border: 0;
  color: #fff;
  position: absolute;
  right: 5px;
}

.btn-add-link:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .7);
}

.links-dropdown-container {
  background-color: #0091ea;
  border-radius: 3px;
  border-top-right-radius: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .7);
  height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 35px;
  transition: height .2s ease-in-out, background-color .2s ease-in-out;
}

.links-dropdown-container .item-add-link {
  padding: 5px 10px;
  font-size: 0;
  transition: font-size .2s ease-in-out;
}

.links-dropdown-container .item-add-link:hover {
  background-color: #0277bd;
  cursor: pointer;
}

.btn-add-link:hover~.links-dropdown-container,
.links-dropdown-container:hover {
  height: 100%;
}

.btn-add-link:hover~.links-dropdown-container .item-add-link,
.links-dropdown-container:hover .item-add-link {
  font-size: .7em;
}

.btn-add-link:hover~.links-dropdown-container .arrow-right,
.links-dropdown-container:hover .arrow-right {
  border-left-color: #0091ea;
  right: -10px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  transition: border-left-color .2s ease-in-out, background-color .2s ease-in-out, right .2s ease-in-out;
  right: 0px;
}

pre {
  display: flex;
  justify-content: center;
}