body {
  background-color: #00695c;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

.header {
  background-color: #00695c;
  position: relative;
}

.brand {
  display: block;
  margin-bottom: 10px;
}

.brand a {
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.brand a,
.brand a:visited,
.brand a:hover,
.brand a:active {
  color: #eee;
}

.controls-container {
  margin-bottom: 10px;
}

button {
  background-color: hsla(170, 100%, 15%, 1);
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  border-radius: 8px;
  box-shadow: 0px 2px 0px hsla(170, 100%, 15%, 1), 0px 5px 12px rgba(0, 0, 0, .7);
  width: 160px;
  text-align: center;
  transition: all .1s ease;
  border: 0;
}

button:hover {
  cursor: pointer;
  background-color: hsla(170, 100%, 15%, .8);
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: 0px 2px 0px hsla(170, 100%, 15%, 1), 0px 2px 6px rgba(0, 0, 0, .7);
  position: relative;
  top: 2px;
}

#pages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a {
  color: #00bfa5;
}

a:hover {
  opacity: .9;
}

a:visited,
a:active {
  color: #8783b2;
}

.page-container {
  text-align: center;
}

.page-window {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, .7);
  display: inline-block;
  height: 125px;
  margin: 20px;
  position: relative;
  text-align: left;
  width: 200px;
  transition: all .5s ease-in-out;
}

.page-window .top-bar {
  background: linear-gradient(#e7e7e6, #e2e2e1);
  border-radius: 5px 5px 0 0;
  height: 20px;
  text-align: center;
}

.page-window .circles {
  left: 3px;
  position: absolute;
  top: 0px;
}

.page-window .circle {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
}

.page-window .circle-red {
  background-color: #fc615d;
}

.page-window .circle-yellow {
  background-color: #fdbd41;
}

.page-window .circle-green {
  background-color: #34C84A;
}

.page-url input {
  width: 100%;
  border-top: 0;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
}

.page-window .page-content {
  background-color: #fafafa;
  border-radius: 0 0 5px 5px;
  display: inline-block;
  margin: 0;
  min-height: 50%;
  width: 100%;
}

.page-window .page-content a {
  margin: 5px;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-container button[disabled] {
  box-shadow: none;
  background-color: hsla(170, 100%, 15%, .5);
}

.controls-container button[disabled]:hover {
  cursor: not-allowed;
}

.stats-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-container>div {
  margin-top: 10px;
}

code {
  background-color: #263238;
  border-radius: 3px;
  color: #fff;
  padding: 4px 8px;
  font-size: .8em;
}

@media (max-width: 768px) {
  .brand {
    text-align: center;
  }
}