body {
  background-color: #ffe0b2;
  font-size: 16px;
  margin: 0;
}

.header {
  background-color: #76aa99;
  position: relative;
}

.brand {
  padding: 10px;
}

.brand a {
  font-family: 'Courier New';
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.brand a,
.brand a:visited,
.brand a:hover,
.brand a:active {
  color: #eee;
}

#pages-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #00bfa5;
}

a:hover {
  opacity: .9;
}

a:visited,
a:active {
  color: #8783b2;
}

.page-container {
  text-align: center;
}

.page-container .page-rank {
  font-size: .8em;
  background-color: #3c3879;
  border-radius: 3px;
  color: #dddceb;
  padding: 2px 4px;
}

.page-window {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #aaa;
  display: inline-block;
  height: 125px;
  margin: 20px;
  position: relative;
  text-align: left;
  width: 200px;
  transition: all .5s ease-in-out;
}

.page-window.zoom-in {
  transform: scale(2) translateX(calc(5vw - 100px)) translateY(185px);
  z-index: 1;
}

.page-window .top-bar {
  background: linear-gradient(#e7e7e6, #e2e2e1);
  border-radius: 5px 5px 0 0;
  height: 20px;
  text-align: center;
}

.page-window .circles {
  left: 3px;
  position: absolute;
  top: 3px;
}

.page-window .circle {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
}

.page-window .circle-red {
  background-color: #fc615d;
}

.page-window .circle-yellow {
  background-color: #fdbd41;
}

.page-window .circle-green {
  background-color: #34C84A;
}

.page-url input {
  width: 100%;
  border-top: 0;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
}

.page-window .content {
  background-color: #fafafa;
  border-radius: 0 0 5px 5px;
  display: inline-block;
  margin: 0;
  min-height: 50%;
  width: 100%;
}

.clear {
  clear: both;
}

.stats-container {
  color: #3c3879;
  text-align: center;
}

.stats-container>div {
  margin-top: 10px;
}

#iteration-count,
#average-rank {
  background-color: #3c3879;
  border-radius: 3px;
  color: #fff;
  padding: 2px 4px;
  font-size: .8em;
}